/* Sets variables for the standart colors I used */
:root {
	--bg-color: #d5dbdb;
	--contrast-dark: darkslategray;
	--contrast-light: lightgray;
	--verify-color: #4CB944;
	--decline-color: #D33F49;
}

/* Draws a line under the navbar */
#line {
	border-bottom: 1px solid var(--contrast-dark);
	width: 100%;
	height: 1px;
}

/* Sets height for the navbar, hides the navbar overflow and makes the overflow scrollable */
nav#navbar {
	overflow: auto;
	white-space: nowrap;
	height: 5vh;
	font-size: 125%;
}

/* Sets a predifined width for the links, centers them and removes the underlining */
nav#navbar a {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 20%;
	color: var(--contrast-dark);
}

/* Sets the color of the logout button to Red */
#logout {
	color: var(--decline-color)!important;
}

/* Makes the scrollbar invisable */
nav#navbar::-webkit-scrollbar {
	display: none;
}

/* Makes the scrollbar invisable */
nav#navbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}	

/* Changes things for displays with a maximum width of 600px */
@media only screen and (max-width: 600px) {

	/* Sets the width of the links to 25% */
	nav#navbar a {
		width: 25%;
	}
}